.button {
	width: fit-content;
	outline: none;
	border: 1px solid #cfcfcf;
	padding: 7px 27px;
	border-radius: 3px;
	background-color: #fff;
	line-height: 24px;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
	transition: 0.3s;

	&_filled {
		background-color: #3366ff;
		color: #fff;
		border-color: #3366ff;
	}

	&:hover {
		opacity: 0.6;
		transition: 0.3s;
	}
}
